form.edit-todo-form(
    hx-post=formatCommand(Command.Update, todo.id), 
    hx-target='#todo-' + todo.id
    hx-swap='outerHTML'

    x-on:click.outside='edited = false'
    x-on:htmx:after-on-load='edited = false'
)

    input.input.edit-todo-form-input(
        type='text', 
        required='true', 
        name='todoName', 
        value=todo.name
    )

    button.edit-todo-form-button.button.is-success(
        type='submit'
    ) save

    button.edit-todo-form-button.button.is-light(
        type='button'
        x-on:click='edited = false'
    ) cancel