if todo.completed

    li.todo-item.box(
        id='todo-' + todo.id, 
        class='completed'
    )
        .todo-item-body
            .todo-item-content
                p #{todo.name}

            include todo-item-actions

else
    //- NOTE for passing data from server to alpine
    //- html element data-attr: data-something=todo.something
    //- alpine script: console.log($el.dataset.something)

    li.todo-item.box(
        id='todo-' + todo.id
        
        x-data='{ edited: false }'
        x-init=`$watch('edited', isEdited => handleTodoItemEditing(isEdited, $el))`
    )

        template(x-if='!edited')

            .todo-item-body
                .todo-item-content(
                    x-on:click='edited = true'
                )
                    p #{todo.name}

                include todo-item-actions

        template(x-if='edited')

            include edit-form
    