form#add-form.add-todo-form(
    hx-post=Command.Add, 
    hx-target='#todo-list', 
    hx-swap='outerHTML', 

    x-data='{ inputValue: `` }'
    x-on:htmx:after-on-load='inputValue = ``'
)

    input.add-todo-form-input.input.is-medium(
        type='text', 
        name='todoName', 
        placeholder='what do you need to do?', 
        required='true'

        x-model.lazy='inputValue'
    )
    
    button.add-todo-form-button.button.is-medium.is-info(
        type='submit'
    ) add