form#edit-form.edit-todo-form.box(
    hx-post=Command.Update + todo.id, 
    hx-swap='outerHTML'
)

    input.input.edit-todo-form-input(
        type='text', 
        required='true', 
        name='todoName', 
        value=todo.name
    )

    button.edit-todo-form-button.button.is-success(
        type='submit'
    ) save

    button.edit-todo-form-button.button.is-light(
        hx-post=Command.CancelEditing + todo.id, 
        hx-target='#edit-form'
    ) cancel