#filter.todo-filter.tabs.is-toggle.is-fullwidth(
    hx-swap-oob='true'
    hx-target='#todo-list',
    hx-swap='outerHTML'
)
    ul
        li(class={'is-active': filter === undefined})

            a(hx-get=Command.All)
                | all&nbsp;

                span.count (#{count.all})

        li(class={'is-active': filter === Filter.Active})

            a(hx-get=Command.Active) 
                | active&nbsp;

                span.count (#{count.active})

        li(class={'is-active': filter === Filter.Completed})

            a(hx-get=Command.Completed)
                | completed&nbsp;

                span.count (#{count.completed})